.profile {
    width: 500px;
    background-color:#fff;
    border-radius: 4px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.avatar {
    width: 200px;
    border-radius: 50%;

}

.name {
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}

.tag {
    font-weight: 700;
    font-size: 25px;
    opacity: 0.6;
    text-align: center;
}

.location {
    font-weight: 700;
    font-size: 25px;
    opacity: 0.6;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    flex-basis: calc(100%/3);
    padding: 20px;
    background-color: darkgrey;
}

.label {
    font-weight: 700;
    font-size: 25px;
    opacity: 0.6;
    margin-bottom: 15px;
}

.quantity {
    font-weight: 900;
    font-size: 25px;
}