table {
    margin-left: 25px;
}

th {
    padding: 15px 95px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(34, 124, 124);
}

td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(n) {
    background-color: rgb(206, 240, 240);
}

tr:nth-child(2n) {
    background-color: #edf2f2;
}